<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{TITLE}}</title>
<meta name="description" content="{{DESC}}">
<link rel="stylesheet" href="tilde.css">
</head>
<body class="{{CLASS}}">
{{ART}}
<header>
<h1>{{H1}}</h1>
<nav>
{{NAV}}
</nav>
</header>
<hr>

<main>
{{BODY}}
</main>
<hr>

<footer>
<p><small>(c) <a href="https://brennan.day">Brennan Kenneth Brown</a> &middot;
<a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-3.0</a> +
<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA</a> &middot;
hosted on <a href="{{HOST_URL}}">{{HOST_NAME}}</a> &middot;
<a href="https://github.com/brennanbrown/tilde">source</a></small></p>
</footer>

</body>
</html>
