<p>Hi! I'm Brennan Kenneth (<a href="https://en.pronouns.page/@brennanbrown">he/they</a>).
I'm Queer, <a href="https://www.mmf.mb.ca/the-red-river-metis-la-nouvelle-nation">Red River M&eacute;tis</a>,
and work as an independent author and web developer. I'm 30 years old, born in
Winnipeg, Manitoba, and currently based in Mohk&iacute;nstsis in Treaty 7 territory.</p>

<p>I'm the founder of <a href="https://berryhouse.ca/">Berry House</a>, where I do pro bono
consultations and accessible JAMstack projects; the sole operator of
<a href="https://folk.zone/">Folk Zone</a>, a self-hosted experiment in contributing to the
IndieWeb/Fediverse commons; and the webmaster of
<a href="https://fanfiction.lol/">Fanfiction.lol</a>, a fork of Archive of Our Own with
300+ users. In 2022 I founded <a href="https://writeclub.netlify.app/">Write Club</a>,
a creative collective for writers that grew from one person to 100+ members over
the three years I ran it.</p>

{{FLAVOR}}

<h2>Geek Code</h2>

<pre><code>-----BEGIN GEEK CODE BLOCK-----
Version: 3.1
GH/L d-->--- s-:+ a30 C+++()>$ UBL>+++$ P+>+++ L++>++++$ E-->+ W+++$
N+ o? !K--? w--- !O M+ !V- PS+++ PE-- Y++ PGP+>+++ !t !5 X+ !R
tv++ b++>++++ DI--- D+ G++ e++>++++$ h- r+(++)>+++ y++?*
------END GEEK CODE BLOCK------</code></pre>

<hr>

<h2>Tildeverse Homes</h2>

<p>I have accounts on a small fleet of public-access Unix systems. Each has its
own mailbox and its own culture.</p>

{{TILDE_TABLE}}

<hr>

<h2>Elsewhere</h2>

<ul>
<li><a href="https://bsky.app/profile/brennan.day">Bluesky</a></li>
<li><a href="https://social.lol/@brennan">Mastodon</a></li>
<li><a href="https://special.fish/brennan">special.fish</a></li>
<li><a href="https://discourse.32bit.cafe/u/brennan">32-bit Cafe</a></li>
<li><a href="https://ctrlshift3.com/u/brennan">ctrl+shift+3</a></li>
<li><a href="https://www.pillowfort.social/brennan">Pillowfort</a></li>
<li><a href="https://keybase.io/brennanbrown">Keybase</a></li>
<li><a href="https://signal.me/#eu/CWQvwj8f-ksHCpDkuPE_EizbOXDmH5-eBtKFMNB3-R2r-gG3oY5JzY759Yl7q5wV">Signal</a></li>
</ul>

<h2>Code</h2>

<ul>
<li><a href="https://github.com/brennanbrown">GitHub</a></li>
<li><a href="https://gitlab.com/brennankbrown/">GitLab</a></li>
<li><a href="https://codeberg.org/brennanbrown">Codeberg</a></li>
<li><a href="https://source.tube/brennan">source.tube</a></li>
</ul>

<hr>

<h2>Say Hi</h2>

<p>Email is best: <a href="mailto:{{EMAIL}}">{{EMAIL}}</a> or
<a href="mailto:mail@brennanbrown.ca">mail@brennanbrown.ca</a>.</p>

<p>Or sign a guestbook:
<a href="https://brennan.day/guestbook">brennan.day/guestbook</a> &middot;
<a href="http://bren.sdf.org/guestbook.cgi">bren.sdf.org/guestbook.cgi</a> &middot;
<a href="https://tilde.town/~brennan/guestbook.txt">guestbook.txt on tilde.town</a>.</p>
